.s-2 {
  margin-bottom: 144px;
  h1 {
    color: #222;
    font-family: $RocknRoll;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 55px;
    @media (max-width: 863px) {
      font-size: 35px;
      margin-bottom: 40px;
    }
    @media (max-width: 494px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 72px;
    .card {
      width: 24%;
      height: 0;
      padding-bottom: 24%;
      @media (max-width: 780px) {
        width: 47%;
        padding-bottom: 47%;
      }
      div {
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .card-img1 {
        @include imgdiv($bckg-img: url(../images/voyager.jpg));
      }
      .card-img2 {
        @include imgdiv($bckg-img: url(../images/black_hole2.jpg));
      }
      .card-img3 {
        @include imgdiv($bckg-img: url(../images/aurora.jpg));
      }
      .card-img4 {
        @include imgdiv($bckg-img: url(../images/dark_matter.jpg));
      }
      h2 {
        text-align: center;
        margin-top: 16px;
        a {
          color: #222;
          font-feature-settings: "clig" off, "liga" off;
          font-family: $RocknRoll;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px; /* 66.667% */
          letter-spacing: 0.48px;
          transition: 0.5s;
          @media (max-width: 863px) {
            font-size: 20px;
          }
          @media (max-width: 494px) {
            font-size: 16px;
          }
        }
      }
      h2 a:hover {
        color: #4e4e4e;
      }
    }
  }
}
