/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1240px;
  width: 95%;
  margin: 0 auto;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
header .flexdiv1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .flexdiv1 div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  gap: 5px;
}
header .flexdiv1 div img {
  width: 60.83px;
  height: 55.3px;
}
header .flexdiv1 div h1 {
  width: 200px;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #222222;
}
header .flexdiv1 nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
header .flexdiv1 nav ul a {
  color: #2935a7;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 80% */
  letter-spacing: 0.4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .flexdiv1 nav ul a:hover {
  color: #52beec;
}
@media (max-width: 1150px) {
  header .flexdiv1 nav {
    display: none;
  }
}
header .flexdiv1 form {
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  padding: 5px;
  width: 168px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .flexdiv1 form input {
  width: 80px;
  border: none;
  background-color: transparent;
  height: 40px;
}
header .flexdiv1 form button {
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
}
header .flexdiv1 form button i {
  text-align: center;
}
@media (max-width: 1150px) {
  header .flexdiv1 form {
    display: none;
  }
}
header .flexdiv1 .fa-bars {
  display: none;
  font-size: 40px;
  color: black;
}
@media (max-width: 1150px) {
  header .flexdiv1 .fa-bars {
    display: block;
  }
}

footer {
  background-color: #a9aedc;
  padding-top: 41px;
  padding-bottom: 120px;
}
footer .flexdiv3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .flexdiv3 h1 {
  font-size: 48px;
  font-family: "RocknRoll One", sans-serif;
  font-weight: bolder;
  width: 50px;
  color: #222222;
  line-height: 60px;
  margin-bottom: 8px;
}
@media (max-width: 600px) {
  footer .flexdiv3 h1 {
    font-size: 20px;
    line-height: 30px;
  }
}
footer .flexdiv3 .logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
footer .flexdiv3 .logos i {
  font-size: 40px;
  color: #222222;
}
@media (max-width: 600px) {
  footer .flexdiv3 .logos i {
    font-size: 16px;
  }
}
footer .flexdiv3 .logos img {
  width: 56px;
}
@media (max-width: 600px) {
  footer .flexdiv3 .logos img {
    width: 28px;
  }
}
footer .flexdiv3 ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 42px;
     -moz-column-gap: 42px;
          column-gap: 42px;
  row-gap: 8px;
}
footer .flexdiv3 ul li a {
  color: #222222;
  font-family: "RocknRoll One", sans-serif;
  font-size: 32px;
  font-weight: bolder;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 600px) {
  footer .flexdiv3 ul li a {
    font-size: 12px;
  }
}
footer .flexdiv3 ul li a:hover {
  color: #383838;
}
@media (max-width: 1060px) {
  footer .flexdiv3 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
footer h2 {
  color: #193947;
  font-family: "RocknRoll One", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  margin-top: 28px;
  line-height: normal;
}
@media (max-width: 800px) {
  footer h2 {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  footer h2 {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  footer {
    padding-bottom: 55px;
  }
}

.s-1 {
  margin-top: 168px;
  margin-bottom: 72px;
}
.s-1 .flexdiv2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.s-1 .flexdiv2 .img-div {
  width: 100%;
}
.s-1 .flexdiv2 .img-div img {
  max-width: 640px;
  width: 100%;
  height: 448px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 650px) {
  .s-1 .flexdiv2 .img-div {
    display: none;
  }
}
.s-1 .flexdiv2 .txt-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.s-1 .flexdiv2 .txt-div h1 {
  color: #222;
  font-family: "RocknRoll One", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}
@media (max-width: 650px) {
  .s-1 .flexdiv2 .txt-div h1 {
    color: white;
  }
}
.s-1 .flexdiv2 .txt-div p {
  font-family: "RocknRoll One", sans-serif;
  color: #222;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: "RocknRoll One", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
}
@media (max-width: 650px) {
  .s-1 .flexdiv2 .txt-div p {
    color: white;
  }
}
@media (max-width: 650px) {
  .s-1 .flexdiv2 {
    background-image: url(../images/moon.jpg);
    height: 400px;
  }
}

.s-2 {
  margin-bottom: 144px;
}
.s-2 h1 {
  color: #222;
  font-family: "RocknRoll One", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 55px;
}
@media (max-width: 863px) {
  .s-2 h1 {
    font-size: 35px;
    margin-bottom: 40px;
  }
}
@media (max-width: 494px) {
  .s-2 h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.s-2 .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  row-gap: 72px;
}
.s-2 .wrapper .card {
  width: 24%;
  height: 0;
  padding-bottom: 24%;
}
@media (max-width: 780px) {
  .s-2 .wrapper .card {
    width: 47%;
    padding-bottom: 47%;
  }
}
.s-2 .wrapper .card div {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.s-2 .wrapper .card .card-img1 {
  background-image: url(../images/voyager.jpg);
}
.s-2 .wrapper .card .card-img2 {
  background-image: url(../images/black_hole2.jpg);
}
.s-2 .wrapper .card .card-img3 {
  background-image: url(../images/aurora.jpg);
}
.s-2 .wrapper .card .card-img4 {
  background-image: url(../images/dark_matter.jpg);
}
.s-2 .wrapper .card h2 {
  text-align: center;
  margin-top: 16px;
}
.s-2 .wrapper .card h2 a {
  color: #222;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: "RocknRoll One", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 66.667% */
  letter-spacing: 0.48px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 863px) {
  .s-2 .wrapper .card h2 a {
    font-size: 20px;
  }
}
@media (max-width: 494px) {
  .s-2 .wrapper .card h2 a {
    font-size: 16px;
  }
}
.s-2 .wrapper .card h2 a:hover {
  color: #4e4e4e;
}

.s-3 {
  margin-bottom: 72px;
}
.s-3 .container h1 {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-family: "RocknRoll One", sans-serif;
  margin-bottom: 12px;
}
@media (max-width: 863px) {
  .s-3 .container h1 {
    font-size: 40px;
    margin-bottom: 5px;
  }
}
@media (max-width: 494px) {
  .s-3 .container h1 {
    font-size: 20px;
    margin-bottom: -25px;
  }
}
.s-3 .container .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  row-gap: 50px;
}
.s-3 .container .wrapper .card {
  margin-top: 55px;
  width: 24%;
  height: 0;
  padding-bottom: 32%;
}
@media (max-width: 950px) {
  .s-3 .container .wrapper .card {
    width: 32%;
    padding-bottom: 43%;
  }
}
@media (max-width: 630px) {
  .s-3 .container .wrapper .card {
    width: 47%;
    padding-bottom: 63%;
  }
}
.s-3 .container .wrapper .card div {
  width: 100%;
  padding-top: 135%;
  background-size: cover;
  margin-bottom: 8px;
  border: 1px solid #bdbdbd;
}
.s-3 .container .wrapper .card h2 {
  color: #222;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  font-family: "RocknRoll One", sans-serif;
  margin-bottom: 8px;
  font-weight: 100;
}
@media (max-width: 730px) {
  .s-3 .container .wrapper .card h2 {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .s-3 .container .wrapper .card h2 {
    font-size: 16px;
  }
}
.s-3 .container .wrapper .card h3 {
  color: #222;
  font-family: "RocknRoll One", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #222222;
}
@media (max-width: 730px) {
  .s-3 .container .wrapper .card h3 {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .s-3 .container .wrapper .card h3 {
    font-size: 16px;
  }
}
.s-3 .container .wrapper .card .card-img1 {
  background-image: url(../images/Gravitys_Fatal_Attraction.jpg);
}
.s-3 .container .wrapper .card .card-img2 {
  background-image: url(../images/The_Irresistible_Attraction_of_Gravity.jpg);
}
.s-3 .container .wrapper .card .card-img3 {
  background-image: url(../images/The_Little_Book_of_Black_Holes.jpg);
}
.s-3 .container .wrapper .card .card-img4 {
  background-image: url(../images/Light_in_the_Darkness.jpg);
}
.s-3 .container .wrapper .card .card-img5 {
  background-image: url(../images/Dark_Matter_and_Dark_Energy.jpg);
}
.s-3 .container .wrapper .card .card-img6 {
  background-image: url(../images/The_4-Percent_Universe.jpg);
}
.s-3 .container .wrapper .card .card-img7 {
  background-image: url(../images/THE_INVISIBLE_UNIVERSE.jpg);
}
.s-3 .container .wrapper .card .card-img8 {
  background-image: url(../images/Northern_Lights.jpg);
}
.s-3 .container .wrapper .card .card-img9 {
  background-image: url(../images/Pale_Blue_Dot.jpg);
}
.s-3 .container .wrapper .card .card-img10 {
  background-image: url(../images/Cosmos-saganbook.jpg);
}
.s-3 .container .wrapper .card .card-img11 {
  background-image: url(../images/Cosmic_connections.jpg);
}
.s-3 .container .wrapper .card .card-img12 {
  background-image: url(../images/The_Euclide_Telescope.jpg);
}
.s-3 .container .button_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.s-3 .container .button_div button {
  background-color: #2935a7;
  color: white;
  border: none;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 16px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 800px) {
  .s-3 .container .button_div button {
    font-size: 14px;
    padding: 12px;
  }
}
.s-3 .container .button_div button:hover {
  background-color: #52beec;
}

.s-4 {
  margin-top: 120px;
}
.s-4 .container .s-4_div-1 img {
  width: 100%;
  height: 512px;
  margin-bottom: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 850px) {
  .s-4 .container .s-4_div-1 img {
    height: 400px;
  }
}
@media (max-width: 500px) {
  .s-4 .container .s-4_div-1 img {
    height: 200px;
  }
}
.s-4 .container .s-4_div-1 h1 {
  color: #000;
  font-family: "RocknRoll One", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 8px;
}
@media (max-width: 800px) {
  .s-4 .container .s-4_div-1 h1 {
    font-size: 20px;
  }
}
.s-4 .container .s-4_div-1 p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
@media (max-width: 800px) {
  .s-4 .container .s-4_div-1 p {
    font-size: 16px;
  }
}
.s-4 .container .s-4_div-1 p span {
  display: block;
  margin-top: 10px;
  text-indent: 15px;
}
.s-4 .container .parts-div {
  margin-top: 42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  row-gap: 47px;
}
.s-4 .container .parts-div .part1,
.s-4 .container .parts-div .part2 {
  width: 49%;
}
@media (max-width: 800px) {
  .s-4 .container .parts-div .part1,
  .s-4 .container .parts-div .part2 {
    width: 100%;
  }
}
.s-4 .container .parts-div .part1 img,
.s-4 .container .parts-div .part2 img {
  border: 1px solid #a7a7a7;
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 16px;
}
@media (max-width: 400px) {
  .s-4 .container .parts-div .part1 img,
  .s-4 .container .parts-div .part2 img {
    height: 200px;
  }
}
.s-4 .container .parts-div .part1 h1,
.s-4 .container .parts-div .part2 h1 {
  color: #000;
  font-family: "RocknRoll One", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 8px;
}
@media (max-width: 800px) {
  .s-4 .container .parts-div .part1 h1,
  .s-4 .container .parts-div .part2 h1 {
    font-size: 20px;
  }
}
.s-4 .container .parts-div .part1 p,
.s-4 .container .parts-div .part2 p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
@media (max-width: 800px) {
  .s-4 .container .parts-div .part1 p,
  .s-4 .container .parts-div .part2 p {
    font-size: 16px;
  }
}
.s-4 .container .parts-div .part1 p span,
.s-4 .container .parts-div .part2 p span {
  display: block;
  text-indent: 15px;
  margin-top: 5px;
}

.info_footer {
  margin-top: 144px;
}

.s-5 {
  margin-top: 120px;
}
.s-5 .container .product h1 {
  color: #222;
  font-family: "RocknRoll One", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}
.s-5 .container .product .s-5_flexdiv {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 59px;
}
.s-5 .container .product .s-5_flexdiv .s-5_image {
  border: 2px solid blue;
}
.s-5 .container .product .s-5_flexdiv .s-5_image img {
  width: 610px;
  height: 736px;
  -o-object-fit: cover;
     object-fit: cover;
}
.s-5 .container .product .s-5_flexdiv .info_and_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.s-5 .container .product .s-5_flexdiv .info_and_button .info {
  border: 2px solid red;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.s-5 .container .product .s-5_flexdiv .info_and_button .info h3 {
  color: #222;
  font-family: "RocknRoll One", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}
.s-5 .container .product .s-5_flexdiv .info_and_button .info h2 {
  color: #222;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.s-5 .container .product .s-5_flexdiv .info_and_button .button button {
  padding: 12px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: none;
  background-color: #31728e;
  border-radius: 12px;
  color: #fff;
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-family: "RocknRoll One", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.32px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.s-5 .container .product .s-5_flexdiv .info_and_button .button button:hover {
  background-color: #568092;
}/*# sourceMappingURL=global.css.map */